body{ 
  margin: 0;
  padding: 0;
  background-image: url("15.png");
  background-position: center;
  background-size: 100%;
}
#nav{
  height: 22vh; width: 100%;
}
#anakayam{
  height: 200px; width: 200px;
  margin-top: 50px;
}
p{
  
  font-size: 18px;
  font-weight: bold;
  font-family: Comic Sans MS;
}
input{
  height: 30px;width: 250px;
  text-align: center;
  padding-left: 5px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  border-radius: 3%;
  box-shadow: 0px 2px 0px 0px #e5e5e5;
}
button{
  height: 38px; width: 140px;
  background-color: #87CEFA;
  border-radius: 12px;
  font-size: 15px;color: #222222;
  margin-top: 30px;
  border: 1px solid #e4e4e4
}